<style>
  .btn:hover {
    border-color: #09c;
    background-color: #09c;
  }
</style>

<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

<!-- Home -->
<main id="home" class="masthead-video masked">
  <video class="video" autoplay="" loop="" muted="">
      <source src="https://d3hjue7omxs01q.cloudfront.net/Video/overview/voice-video.mp4" type="video/mp4">
      <source src="video/video.webm" type="video/webm">
  </video>
  <div class="opener rel-1">
    <div class="container">
      <div class="row">
        <center>
        <div class="lead col-lg-6" style="float:none">
          <h1 class="wow fadeInDown">Manage your customers at scale </h1>
          <p class="lead-text"> Solution to keep everyone on the same page
	to accelerate and skyrocket productivity </p>
        </div>
        <br>
        <div class="lead-controls">
          <div class="row-fields row">
            <a href="/sign_up" class="btn signup_btn hvr-grow">try it free</a>
          </div>
        </div>
        </center>
      </div>
    </div>
  </div>
</main>

<!-- Content -->
<div class="content">
  
  <section class="main flow">
    <div class="section-flow clearfix">
      <div class="container">
        <header class="header" style="padding: 0px; margin-bottom: 0px">
          <h2>Everything In One Place With A Smart Dashboard</h2>
        </header>
        <div class="step product1">
          <br><br>
          <h4>Manage</h4>
          <p>Track all the changes that happen with your clients.  Client’s status update informs you  who is working on what. From new documents to existing ones. </p>
        </div>
        <div class="step product2">
          <br><br>
          <h4>Collaborate</h4>
          <p>Break up the work of manging a client into smaller parts or divide the work among multiple collaborators.</p>
        </div>
        <div class="step product3">
          <br><br>
          <h4>Communicate</h4>
          <p>Provide a unique way to video chat with your customer. It’s the best way to impress and build a strong relationship with your customers.</p>
        </div>
      </div>
    </div>
  </section>
  
  <hr>
  
  <section id="features2" class="features section">
    <div class="container">
      <div class="row-padding row-columns row">
        <div class="col-feature-img text-center column column-padding col-md-6 col-md-push-6 wow fadeInUp"><br>
          <script src="//fast.wistia.com/embed/medias/mxyjav5tzk.jsonp" async></script>
          <span class="wistia_embed wistia_async_mxyjav5tzk popover=true popoverAnimateThumbnail=true videosize" style="display:inline-block;box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.27);">&nbsp;</span>
        </div>
        <div class="col-feature column column-padding col-md-6 col-md-pull-6">
          <ul class="features">
            <li class="icon">
              <h2>Manage your contacts with ease.</h2>
            </li>
            <br>
            <li class="icon">
              <h4>Client Facing Solution</h4>
              <p>Our Client Facing solution puts all your customer information in one place and at the same time enabling your clients to update their information, share files and communicate in real time. </p>
            </li>
            <li class="icon">
              <h4>All in one place</h4>
              <p>Everything you need lives in a single location, so that communication between you and your customers is efficient, relevant and personal.</p>
            </li>
            <li class="icon">
              <h4>Collaboration made easy</h4>
              <p>Everything you need lives in a single location, so that communication between you and your customers is efficient, relevant and personal.</p>
            </li>
          </ul>
          <!--<center><div class="top-space-sm"><a href="#request" class="btn" data-toggle="modal">sign up now</a></div></center>-->
        </div>
      </div>
    </div>
  </section>
  
  <hr>
  
  <section id="features1" class="features section">
    <div class="container">
      <div class="row-columns row-padding row">  
        <div class="col-feature-img column col-md-6 text-center wow fadeInLeft videoleft"><br>
          <script src="//fast.wistia.com/embed/medias/apc9rgf5w8.jsonp" async></script>
          <span class="wistia_embed wistia_async_apc9rgf5w8 popover=true popoverAnimateThumbnail=true videosize" style="display:inline-block;box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.27);">&nbsp;</span>
        </div>
        <div class="col-feature column column-padding col-md-6 textright">
          <ul class="features">
            <li class="icon">
              <h2>Build stronger relationships.</h2>
            </li>
            <br>
            <li class="icon">
              <h4>Live Video Chat</h4>
              <p>Provide a unique way to video chat with your customer. It’s the best way to impress and build a strong relationship with your customers. Instant video conference with your clients without installing any software.</p>
            </li>
            <li class="icon">
              <h4>Screensharing</h4>
              <p>Most customers aren't tech experts so they may need additional support. Our screen-sharing feature is very effective as it allows your agents to gain temporary access to your customers’ computer and guide them through the process.</p>
            </li>
            <li class="icon">
              <h4>Co-Browsing</h4>
              <p> Allows an agent to connect to a customer’s browser window, see the customer’s web page and mouse cursor, and interact with the web page in real-time.</p>
            </li>
          </ul>
          <!--<center><div class="top-space-sm"><a href="#request" class="btn" data-toggle="modal">sign up now</a></div></center>-->
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="features2" class="features section">
    <div class="container">
      <div class="row-padding row-columns row">
        <div class="col-feature-img text-center column column-padding col-md-6 col-md-push-6 wow fadeInUp"><br>
          <script src="//fast.wistia.com/embed/medias/t9h65x5n35.jsonp" async></script>
          <span class="wistia_embed wistia_async_t9h65x5n35 popover=true popoverAnimateThumbnail=true videosize" style="display:inline-block;box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.27);">&nbsp;</span>
        </div>
        <div class="col-feature column column-padding col-md-6 col-md-pull-6">
          <ul class="features">
            <li class="icon">
              <h2>Take your docs anywhere. Share files and folders with your clients.</h2>
            </li>
            <br>
            <li class="icon">
              <h4>Easy To Use File Sharing </h4>
              <p>Photos, videos, presentations, PDFs – even Microsoft Office files. No matter what type of file it is, everything can be stored safely and  then access them on your phone from the road. Everything you keep in ThinkRTC is synced and secured. </p>
            </li>
            <li class="icon">
              <h4>eSignatures Simplified.</h4>
              <p>Cut your admin time by up to 93% with e-signatures that fit right into your workday. Review, send, and sign documents on any computer, smartphone, or tablet. Reach your clients in the office or the airport, across the street or around the world.
</p>
            </li>
            <li class="icon">
              <h4> HIPAA compliant </h4>
              <p>Quickly and securely access and sign documents. Easily upload and send documents for others to sign to streamline and save time while staying secure and compliant.</p>
            </li>
          </ul>
          <!--<center><div class="top-space-sm"><a href="#request" class="btn" data-toggle="modal">sign up now</a></div></center>-->
        </div>
      </div>
    </div>
  </section>
  
  <hr>
  
  <!-- Banner -->
  <section id="banner" class="section-sm">
    <center>
      <div class="container"><h2>Try our cloud based management software. <br>Schedule a demo with us!</h2>
        <div class=""  style="margin-top:50px">
          <a href="https://calendly.com/jonn-thinkrtc/15min" class="btn hvr-grow" style="background-color: #fff; color: #000">SCHEDULE A DEMO</a>
                    <p><strong>See if we are the right fit.</strong></p>

        </div>
      </div>
    </center>
  </section>
  <%= render 'layouts/footer' %>
</div>

<!-- Modal Signup -->
<div id="request" class="modal fade" role="dialog">
  <div class="modal-dialog modallogin" style="width: 325px">
    <div class="modal-content-login" >
      <div class="modal-header">
        <span class="close-trtc" style="color: black" data-dismiss="modal" aria-label="Close">&times;</span>
        <img src="<%= asset_path 'thinkrtclogo.png'%>" alt="thinkrtc" style="height:200px;">
      </div>
      <div class="modal-body text-center" >
        <%= form_for(@user, url: registrations_path) do |f| %>
          <%= @user.errors.full_messages.join('. ') %>
          <div class="field">
            <%= f.email_field :email, :placeholder => "Email", :class => "loginfield", autofocus: true %>
          </div>
          <div class="field">
            <%= f.password_field :password, :placeholder => "Password", :class => "loginfield", autocomplete: "off" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "loginfield", autocomplete: "off" %>
          </div>
          <div class="actions" style="margin-top:60px">
            <%= submit_tag "Sign up", :class => "signupsubmit" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>